body {
    margin: 0;
}

#appContainer {
    font-family: muli;
}

#cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.cardContainer {
    height: 350px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cardContainer .imageContainer {
    width: 100%;
    flex: 0 0 60px;
    background: no-repeat center/20% url(../resources/skull-and-bones.svg) moccasin;
}

.cardContainer .subjectH {
    flex: 0 0;
    margin: 14px 0 0 0;
}

.cardContainer .mainDescP {
    flex: 0 0;
    margin: 4px 10% 0 10%;
    font-size: 12px;
    font-style: italic;
    color: darkolivegreen;
}

.cardContainer .separator {
    flex: 0 0;
    margin: 10px 20% 0;
    border-top: 1px solid black;
    height: 1px;
}

.cardContainer .resultContainer {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.cardContainer .resultContainer .resultP {
    flex: 0 0;
    margin: 0;
    font-size: 16px;
}
