html {
    transform-origin: top left;
    transform: scale(0.3);
}

body {
    margin: 0;
}

#appContainer {
    font-family: muli;
    display: inline-block;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 3508px;
}

.cardContainer {
    position: relative;
    height: 1240px;
    width: 876px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 0px 2px black;
}

.cardContainer .eventContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 60px;
}

.icon {
    position: relative;
    width: 90px;
    height: 90px;
    font-size: 60px;
}

.icon .fa {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.measureWithIcon {
    position: relative;
    margin-right: 20px;
}

.measureWithIcon .measureValue {
    position: absolute;
    top: 50px;
    left: 50px;
    color: red;
    width: 60px;
    height: 60px;
    font-size: 50px;
    font-weight: bolder;
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.8);
    line-height: 60px;
    border: solid 1px black;
}

.cardContainer .heroInfo {
    flex: 1 0;
    box-shadow: inset 0px 0px 0px 2px black;
}

.cardContainer .heroInfo.possessed {
    transform: rotate(180deg);
}

.banner,
.cardContainer .dungeonBanner,
.cardContainer .obstacleInfo .obstacleBanner,
.cardContainer .mineralInfo .mineralBanner,
.cardContainer .monsterInfo .monsterBanner,
.cardContainer .itemInfo .itemBanner,
.cardContainer .heroInfo .heroBanner{
    display: flex;
    align-items: center;
    font-size: 40px;
    flex: 0 0 100px;
}

.banner .title,
.cardContainer .dungeonBanner .dungeonName,
.cardContainer .obstacleInfo .obstacleBanner .obstacleName,
.cardContainer .mineralInfo .mineralBanner .mineralName,
.cardContainer .monsterInfo .monsterBanner .monsterName,
.cardContainer .itemInfo .itemBanner .itemName,
.cardContainer .heroInfo .heroBanner .heroName{
    margin: 0 20px;
    text-align: left;
}

.states{
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
}

.skillRequirement,
.states .stateSingle{
    flex: 0 0 140px;
    font-size: 40px;
}

.cardContainer .obstacleInfo,
.cardContainer .mineralInfo,
.cardContainer .itemInfo {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.cardContainer .itemInfo .itemEffect{
    flex: 1 0;
    font-size: 40px;
    border-top: solid;
    padding-top: 40px;
}

.xpIndicator {
    display: flex;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.monsterInfo {
    display: flex;
    flex-direction: column;
}

.monsterInfo .monsterOptions {
    box-shadow: inset 0px 0px 0px 2px black;
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
}

.obstacleInfo .obstacleRequirementContainer,
.monsterInfo .monsterOptions .monsterOptionsContainer {
    display: flex;
    flex: 0 0 50px;
}

.monsterInfo .monsterOptions .monsterOptionsLabel {
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
}

.monsterInfo .monsterOptions .monsterOptionsContainer .icon {
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.cardContainer .mineralInfo .mineralRequirements {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navigationBar {
    font-size: 80px;
    margin: 60px;
}

.description {
    font-size: 40px;
    margin: 20px;
    border-top: solid;
    padding-top: 40px;
}

.hexagon {
    position: absolute;
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: miter;
}
