html {
    transform-origin: top left;
    transform: scale(0.3);
}

body {
    margin: 0;
}

#appContainer {
    font-family: muli;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 3508px;
}

.cardContainer {
    position: relative;
    height: 620px;
    width: 438px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 0px 2px black;
}


.cardContainer .forkDelta--1,
.cardContainer .forkDelta-0,
.cardContainer .forkDelta-1,
.cardContainer .forkDelta-2{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 0;
    top: 0;
    font-size: 45px;
    line-height: 90px;
    border: solid 2px black;
    border-bottom-left-radius: 50%;
    font-weight: bold;
}

.cardContainer .forkDelta--1 {
    background-color: lightgray;
}

.cardContainer .forkDelta-0 {
    background-color: #d99779;
    display: none;
}

.cardContainer .forkDelta-1 {
    background-color: #31ac95;
}

.cardContainer .forkDelta-2 {
    background-color: #e500e5;
}

.cardContainer .pathsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
}

.cardContainer .pathsContainer .pathInfo {
    flex: 0 0 155px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 0px 2px black;
}

.cardContainer .pathsContainer .pathInfo.current {
    background-color: moccasin;
}

.icon {
    position: relative;
    width: 90px;
    height: 90px;
    font-size: 60px;
}

.icon .fa {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.cardContainer .pathsContainer .pathInfo .measureWithIcon {
    position: relative;
    margin-right: 20px;
}

.cardContainer .pathsContainer .pathInfo .measureWithIcon .measureValue {
    position: absolute;
    top: 50px;
    left: 50px;
    color: red;
    width: 60px;
    height: 60px;
    font-size: 50px;
    font-weight: bolder;
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.8);
    line-height: 60px;
    border: solid 1px black;
}

.cardContainer .heroInfo {
    flex: 1 0;
    box-shadow: inset 0px 0px 0px 2px black;
}

.cardContainer .heroInfo.possessed {
    transform: rotate(180deg);
}

.cardContainer .monsterInfo .monsterBanner,
.cardContainer .itemInfo .itemBanner,
.cardContainer .heroInfo .heroBanner{
    display: flex;
    align-items: center;
    font-size: 40px;
    flex: 0 0 100px;
}

.cardContainer .monsterInfo .monsterBanner .monsterName,
.cardContainer .itemInfo .itemBanner .itemName,
.cardContainer .heroInfo .heroBanner .heroName{
    margin: 0 20px;
    text-align: left;
}

.cardContainer .heroInfo .heroStates{
    display: flex;
    flex: 1 0;
    flex-flow: wrap;
    margin-top: 20px;
}

.monsterInfo .monsterOptions .monsterOptionsContainer .skillRequirement,
.cardContainer .heroInfo .heroStates .heroStateSingle{
    flex: 0 0 140px;
    font-size: 40px;
}

.cardContainer .itemInfo {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.cardContainer .itemInfo .itemEffect{
    flex: 1 0;
    font-size: 40px;
    border-top: solid;
    padding-top: 40px;
}

.xpIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.monsterInfo {
    display: flex;
    flex-direction: column;
}

.monsterInfo .monsterOptions {
    box-shadow: inset 0px 0px 0px 2px black;
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
}

.monsterInfo .monsterOptions .monsterOptionsContainer {
    display: flex;
    flex: 0 0 50px;
}

.monsterInfo .monsterOptions .monsterOptionsLabel {
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
}

.monsterInfo .monsterOptions .monsterOptionsContainer .icon {
    width: 50px;
    height: 50px;
    font-size: 40px;
}